/* colors 
background - #ffa500
text - #aeff00
supporting background - #ff0004
*/

.realbg {
  background: url("https://c.tenor.com/yu4yJBMcidMAAAAd/space.gif") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-color: #ffa500; */
}
.top {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_03hErIe9miwXgeAkDMamXFyyeio3BaB4hg&usqp=CAU")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aeff00;
  border-radius: 10px 10px 0px 0px;
}

.bottom {
  top: 35%;
  right: 240px;
  border-radius: 0px 0px 10px 10px;
  font-size: 18px;
  box-shadow: 0px 0px 50px white;
  background-color: #ff0004;
  color: #aeff00;
}

.together {
  text-align: center;
  background-color: #ff0004;
  font-size: 25px;
  padding: 10px;
}
.together:hover {
  cursor: pointer;
  background-color: #aeff00;
  font-weight: 550;
  color: #ff0004;
  box-shadow: 0px 0px 50px white;
}

.homepagebtm {
  left: 80px;
  background-color: #ff0004;
  height: 40vh;
  max-width: 25%;
  margin: 20px;
  display: flex;
  align-items: top;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 50px;
}
.homepagebtm:hover {
  box-shadow: 0px 0px 50px white;
}
.homepagebtm2 {
  left: 80px;
  background-color: #aeff00;
  height: 40vh;
  max-width: 25%;
  margin: 20px;
  display: flex;
  align-items: top;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 50px;
}
.homepagebtm2:hover {
  box-shadow: 0px 0px 50px white;
}

.brochuretxt {
  cursor: pointer;
  color: #aeff00;
  text-align: center;
}
.brochureimg {
  width: 95%;
  height: 40%;
  top: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px;
  position: absolute;
}
.brochureimg:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px white;
}

.brochuretxt2 {
  cursor: pointer;
  color: #ff0004;
  text-align: center;
}

.brochureimg2 {
  width: 95%;
  top: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px;
  position: absolute;
}

.brochureimg2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px white;
}
